aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.5.0
appdirs==1.4.4
arxiv==2.1.3
asttokens==2.4.1
attrs==24.2.0
autoflake==2.3.1
beautifulsoup4==4.12.3
black==24.8.0
blinker==1.9.0
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
coverage==7.6.1
crashtest==0.4.1
dataclasses-json==0.6.7
datasets==2.14.4
deepsearch-glm==0.26.1
dill==0.3.7
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docling==2.7.1
docling-core==2.5.0
docling-ibm-models==2.0.6
docling-parse==2.1.2
docutils==0.21.2
dulwich==0.21.7
easyocr==1.7.2
email_validator==2.2.0
et_xmlfile==2.0.0
executing==2.1.0
fakeredis==2.24.1
fastapi==0.111.1
fastapi-cli==0.0.5
fastjsonschema==2.20.0
feedparser==6.0.11
filelock==3.16.1
filetype==1.2.0
flake8==7.1.1
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.1
fsspec==2024.10.0
google-api-core==2.20.0
google-api-python-client==2.146.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.65.0
grpcio==1.66.1
h11==0.14.0
hiredis==3.0.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.26.2
icecream==2.1.3
identify==2.6.1
idna==3.10
imageio==2.36.0
importlib_metadata==8.5.0
iniconfig==2.0.0
installer==0.7.0
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
json_repair==0.30.2
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==24.3.1
langchain==0.2.16
langchain-community==0.2.17
langchain-core==0.2.41
langchain-google-community==1.0.8
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langdetect==1.0.9
langgraph==0.2.22
langgraph-checkpoint==1.0.10
langsmith==0.1.125
lazy_loader==0.4
Levenshtein==0.25.1
litellm==1.51.3
loguru==0.7.2
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==3.0.2
marshmallow==3.22.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.15
mypy==1.11.2
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
newsapi-python==0.2.7
newsdataapi==0.1.21
ninja==1.11.1.2
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
openai==1.53.0
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opik==1.1.9
orjson==3.10.7
packaging==24.1
pandas==2.2.3
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.2
platformdirs==4.3.6
pluggy==1.5.0
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
pre-commit==3.8.0
pretty-errors==1.2.25
proto-plus==1.24.0
protobuf==5.28.2
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pyflakes==3.2.0
Pygments==2.18.0
pymongo==4.9.1
pyparsing==3.1.4
pypdfium2==4.30.0
pyproject_hooks==1.2.0
pysbd==0.3.4
pytest==8.3.3
pytest-cov==5.0.0
pytest-env==1.1.5
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.9
python-pptx==1.0.2
pytz==2024.2
PyYAML==6.0.2
ragas==0.2.5
RapidFuzz==3.10.1
redis==5.0.8
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.8.1
rpds-py==0.21.0
rsa==4.9
Rtree==1.3.0
ruff==0.5.7
scikit-image==0.24.0
scipy==1.14.1
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
slack_sdk==3.33.5
sniffio==1.3.1
-e git+https://oauth2:glpat-gN_hgmfhQfyxrH2YDyUm@gitlab.utomoney.io/uto-ai/algo/socrates.git/@08da3977195edb0489efde1d77bd0c49e328fb44#egg=socrates
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.36
starlette==0.37.2
sympy==1.13.1
tabulate==0.9.0
tenacity==8.3.0
tifffile==2024.9.20
tiktoken==0.7.0
tokenizers==0.20.3
tomlkit==0.13.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.66.5
trove-classifiers==2024.10.21.16
typer==0.12.5
types-requests==2.32.0.20240914
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.2.3
uuid7==0.1.0
uvicorn==0.30.6
uvloop==0.20.0
virtualenv==20.26.5
watchfiles==0.24.0
websockets==13.0.1
Werkzeug==3.1.3
xattr==1.1.0
XlsxWriter==3.2.0
xxhash==3.5.0
yarl==1.11.1
zipp==3.21.0
